@import "utilities";
@import "treemap";
@import "timeseries";
@import "datagrid";

body {
  margin: 0;
  padding: 0;
  color: $black;
  font-size: 16px;
  line-height: 1.1875em;
}

a, a:visited{
  color: $link;
  text-decoration: none;
  &:hover {
    color: lighten($link, 10%);
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
  }
}

h3 {
  border-bottom: 1px dashed $silver;
  text-transform: uppercase;
  color: $gray;
  font-size: 1.25em;
  padding: .625em .3125em
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 2em 0;
}

header.header {
  padding: 0 0 2em;
  .container {
    overflow: hidden;
    border-bottom: 2px solid $silver;
  }
  .logo {
    display: block;
    float: left;
    width: 260px;
    height: 72px;
    background: url(/images/fgv-dapp-logo.png) no-repeat scroll left top;
    background-size: cover;
    text-indent: -9999em;
  }
  .social-buttons {
    float: right;
    ul {
      padding-top: 3.35em;
    }
  }
}


footer.footer {
  overflow: hidden;
  padding-bottom: 2em;
  .partners-buttons {
    text-align: center;
  }
  .partner-button {
    width: 140px;
    height: 90px;
    border: 1px solid $silver;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    &:hover {
      border-color: $link;
    }
    .image {
      width: 100px;
      height: 40px;
      display: block;
      position: absolute;
      top: 25px;
      left: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      &.okfn-logo {
        background-image: url(/images/okfn-logo.png);
      }
      &.openspending-logo {
        background-image: url(/images/openspending-logo.png);
      }
      &.sigabrasil-logo {
        background-image: url(/images/sigabrasil-logo.png);
      }
    }
  }
  .colophon {
    margin-top: 4em;
    border-bottom: 1px dashed $silver;
    padding-top: 2em;
  }
  .fgv-logo {
    margin-top: 1em;
    display: block;
    float: left;
    width: 100px;
    text-indent: -9999em;
    background-size: contain;
    background-image: url(/images/fgv-logo.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
  }
  .license {
    margin-top: 1em;
    float: left;
    margin-left: 2em;
    font-style: italic;
    font-size: .8125em;
    color: #555555;
    p {
      margin-top: 0;
    }
  }
  .footer-social {
    display: none; /* WAITING FOR LINK DEFINITIONS */
    float: right;
    margin-top: 1em;
    a {
      height: 1.875em;
      width: 1.875em;
      display: inline-block;
      border-radius: 3em;
      text-align: center;
      line-height: 1.875em;
      color: white;
      background-color: $gray;
      &:hover {
        background-color: $link;
        text-decoration: none;
      }
    }
  }
}

.loading {
  * {
    opacity: .75;
  }
  .spinner {
    opacity: 1 !important;
  }
}
