@import "utilities";
$level-1: #959595;
$level-2: #89a1bc;
$level-3: #5f79a0;

.treemap-logo {
  overflow: hidden;
  margin-bottom: 4.5em;
  h2 {
    font-family: 'texgyreherosbold', Arial, sans-serif;
    color: $fgv;
    font-size: .9375em;
    text-transform: uppercase;
  }
  .treemap-logo-icon {
    width: 45px;
    height: 45px;
    background: url(/images/treemap-icon.png) no-repeat scroll left top;
    display: block;
    float: left;
    margin: -4px 7px 0 0;
  }
}


.treemap-header {
  overflow: hidden;
  padding: .5em 0;
  .year-navigation {
    float: right;
    width: 10%;
    text-align: right;
  }
  .breadcrumb {
    float: left;
    width: 90%;
    h1 {
      font-size: 1em;
      line-height: inherit;
      margin: 0;
      display: inline;
      font-weight: normal;
    }
  }
}

.treemap-container {
  position: relative;
  display: block;
  width: 100%;
  .treemap-widget {
    width: 100%;
    height: 494px;
    border: 0 none;
    display: block;
    z-index: 1;
    font-size: 1em;
  }
  .treemap-widget .desc .lbl,
  .treemap-widget .desc .amount {
    font-family: 'texgyreherosregular', arial, sans-serif;
    font-weight: normal;
    font-size: .75em;
    text-shadow: rgba(0,0,0,.4) 1px 1px 0;
  }
  .treemap-widget .desc .amount {
    letter-spacing: 1px;
  }
  .desc {
    height: 100%;
  }
  &:hover .node {
    opacity: .5;
  }
  .node {
    border: 1px solid white;
    -moz-transition: opacity .85s ease-in-out;
    -webkit-transition: opacity .85s ease-in-out;
    transition: opacity .85s ease-in-out;
    &.level-1 {
      background-color: $level-1;
    }
    &.level-2 {
      background-color: $level-2;
    }
    &.level-3 {
      background-color: $level-3;
    }
    &:hover {
      box-shadow: none;
      cursor: pointer;
      border-color: white;
      opacity: 1;
      -moz-transition: opacity .15s ease-in-out;
      -webkit-transition: opacity .15s ease-in-out;
      transition: opacity .15s ease-in-out;
    }
  }
}

#_tooltip {
  border: 1px solid $black;
  background-color: white !important;
  color: $black !important;
  font-size: 1em;
}

.legend {
  padding: 1em 0;
  overflow: hidden;
  font-size: .9em;
  text-align: left;
  strong {
    text-transform: uppercase;
    color: $link; /* REVIEW THIS */
  }
  .level-label {
    padding: .25em .5em;
    margin-left: .5em;
  }
  .block {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    line-height: 0;
    border-radius: 2px;
    vertical-align: middle;
  }
  .level-1 .block {
    background-color: $level-1;
  }
  .level-2 .block {
    background-color: $level-2;
  }
  .level-3 .block {
    background-color: $level-3;
  }
  p:first-child {
    margin-bottom: 0;
  }
  .hint {
    font-style: italic;
    color: $gray;
    margin-top: 0;
  }
}

.treemap-footer {
  overflow: hidden;
  padding: .5em 0;
  .time-series-graph {
    h3 {
      margin-bottom: .25em;
    }
  }
  .reference-point-hint {
    font-size: .75em;
    margin-top: 0;
  }
  .download-data {
    .button {
      margin-bottom: 1em;
      display: inline-block;
      padding: .72em 2.27em;
      border-radius: 4px;
      border: 1px solid $link;
      font-size: 1.375em;
      a {
        color: $link;
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        border-color: lighten($link, 10%);
        a {
          color: lighten($link, 10%);
        }
      }
    }
  }
}

