@font-face {
  font-family: 'texgyreherosregular';
  src: url('fonts/texgyreheros-regular-webfont.eot');
  src: url('fonts/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/texgyreheros-regular-webfont.woff') format('woff'),
       url('fonts/texgyreheros-regular-webfont.ttf') format('truetype'),
       url('fonts/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreherositalic';
  src: url('fonts/texgyreheros-italic-webfont.eot');
  src: url('fonts/texgyreheros-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/texgyreheros-italic-webfont.woff') format('woff'),
       url('fonts/texgyreheros-italic-webfont.ttf') format('truetype'),
       url('fonts/texgyreheros-italic-webfont.svg#texgyreherositalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'texgyreherosbold';
  src: url('fonts/texgyreheros-bold-webfont.eot');
  src: url('fonts/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/texgyreheros-bold-webfont.woff') format('woff'),
       url('fonts/texgyreheros-bold-webfont.ttf') format('truetype'),
       url('fonts/texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'texgyreherosregular', arial, sans-serif;
}

i,
em,
cite,
q {
  font-family: 'texgyreherositalic', arial, sans-serif;
  font-style: italic;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'texgyreherosbold', arial, sans-serif;
  font-weight: bold;
}

$fgv: rgb(28, 47, 103);
$blue: #1b3461;
$link: $blue;
$black: #363636;
$silver: #ebebeb;
$gray: #959595;
